@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 0.275%;
	padding-right: 0.275%;
	clear: none;
	float: none;
	
	@media #{$information-tablet} {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
	}
	
	@media #{$information-desktop} {
	width: 88.5%;
	max-width: 1232px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
	}
}
/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*-----BODY -----*/
body {
	background-color: $body_backgorund;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-style: normal;	
	color: $body_font;
}
#header_strip {
    
	background-color:$header_strip;
	width: 100%;
	height: 1.5em;
	padding:1.3em;
	
	@media #{$information-tablet} {
		padding:.4em;
		}
}
/*-----HEADER -----*/
/* necessary to override the default blue link color applied by phones */

header a.tel {
  color: #e6e1d8 !important;
  padding-right: 2%;
  text-decoration: none;
  
  @media #{$information-tablet} {font-size: 1.28em;
	padding-right: .4em;
	}
}


#headerWrapper {
  background-color: $header;
  position:fixed;
    width:100%;
    top:0;
    left:0; 
}


header {
  padding: 0.5em 1%;
  height:170px;
  
  @media #{$information-tablet} {padding-top: 2em ;
  }
  
  
}


header h1 {
  font-size: 2.4em;
  color: #F7F2E9;
  /*font-family: open-sans;
  font-style: normal;
  font-weight: 300;*/
}


header h1 a {
  text-decoration: none;
  color: white;
}

header h1 a:hover {
  text-decoration: none;
}

header h2 {
	font-size: .8em;
	font-weight: 300;
	color: #E6E1D8;
	
	@media #{$information-tablet} {font-size: .8em;
	font-weight: 300;
	color: #E6E1D8;
	padding-top: 0px;
	margin-top: -29px;
	}
	
}


header h3, h4, h5, p a {
  color: white;
  text-decoration: none;
  display: block;
  margin-top: 1px;
  /*margin-right: 6px;
  margin-bottom: 6px;
  margin-left: 6px;*/
}


header p {
  color: white;
  font-size: 0.8rem;
}


header h5 {
  color: white;
  font-size: 0.75rem;
  /*margin-top: -23px;*/
}

header h5 a {
  color: white;
  text-decoration: none;
}


#header {
  background-color: $header;
  font-family: open-sans;
  font-style: normal;
  font-weight: 300;
  
  @media #{$information-desktop} {
  margin: 0 auto;
}
      
}


#logo {
  height: 105px;
  width: auto;
  float: left;
  padding-top:6px;
  
  @media #{$information-tablet} {height: 105px;
	width: auto;
	float: left;
	padding-top: 0px;
	margin-right: 6px;
	}
}


#headerRight {
  float: right;
  padding-top: 6px;
  text-align: right;
  padding-right:6px;
  
@media #{$information-tablet} {text-align: right;
 float: right;
 position: relative;
  top: 50%;
  transform: translateY(-50%);  
}
}
/*----- SOCIAL -----*/

header ul.social {
  margin-bottom: -2.5em;
  list-style-type: none;
}


header ul.social li {
  float: left;
}


header ul.social li a {
  padding: 4px 2.6px;
}

/*----- SEARCH -----*/

header form.searchForm {
  position: absolute;
  z-index: 999;
  top: 6px;
  right: 2%;
  
@media #{$information-tablet} {position:static; padding-top: 5px;
}	  
}


header form.searchForm input {
  border: solid 1px #494948;
  border-radius: 12px;
  padding: 5px 10px;
  width: 145px;
  box-shadow: 2px 2px 3px #ccc inset;
  background-color: #F7F2E9;
}


.search:focus {
  background-color: #FCC264;
  outline: none;
}


div.search-results b {
  background-color: rgba(255, 132, 0, 0.5);
}


div.search-results h2 a {
  color: #3B4044;
  text-decoration: none;
  font-weight: 300;
}

#menu {
}
#content {
background-color: #F7F2E9;
padding:0.5em;
margin-top: 270px; 

@media #{$information-tablet} {
	margin-top: 250px;
}   
}
#article {
clear: both;
margin-left: 0;
width: 100%;

/*@media #{$information-tablet} {
 width: 61.5384%;
}

@media #{$information-desktop} {
  width: 66.1016%;
}*/
}
#sidebar {
display: none;


}
#footer {
    clear: both;
	font-size: .7em;
	color:$footer_font;
	text-align: center;
	padding: .6em;
	background-color:$footer_background;
    position:fixed;
    width:100%;
    bottom:0;
    left:0;
}
.zeroMargin_mobile {
margin-left: 0;
}
.hide_mobile {
display: none;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {


header hgroup {
float: left;
position: relative;
top: 50%;
transform: translateY(-50%);

@media #{$information-desktop} {
  padding-left:6px;
}

}

#article {
clear: both;
margin-left: 0;
width: 61.5384%;
}
#sidebar {
width: 35.8974%;
display: block;
margin-left: 2.5641%;
clear: none;
}

 
.hide_tablet {
display: none;
}
.zeroMargin_tablet {
margin-left: 0;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {




#article {
margin-left: 0;
clear: both;
width: 66.1016%;
}
#sidebar {
width: 32.2033%;
display: block;
clear: none;
margin-left: 1.6949%;
}

.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}
}