

@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	/*width: 86.45%;*/
	padding-left: 0.275%;
	padding-right: 0.275%;
	clear: none;
	float: none;
}
/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*-----BODY -----*/
body {
	background-color: $body_backgorund;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	font-style: normal;	
	color: $body_font;
}
#header_strip {
    background-color:$header_strip;
	/*width: 100%;
	height: 1.5em;
	padding:1.3em;*/
	display:none;
}
/*-----HEADER -----*/
/* necessary to override the default blue link color applied by phones */

header a.tel {
  color: #e6e1d8 !important;
  padding-right: 2%;
  text-decoration: none;
}


#headerWrapper {
  background-color: $header;
  /*position:fixed;*/
    /*width:100%;
    top:0;
    left:0;*/ 
}


header {
  padding: 0.5em 1%;
  height:170px; 
  display:none;
  }


header h1 {
  font-size: 2.4em;
  color: #F7F2E9;
  /*font-family: open-sans;
  font-style: normal;
  font-weight: 300;*/
}


header h1 a {
  text-decoration: none;
  color: white;
}

header h1 a:hover {
  text-decoration: none;
}

header h2 {
	font-size: .8em;
	font-weight: 300;
	color: #E6E1D8;
	
}


header h3, h4, h5, p a {
  color: white;
  text-decoration: none;
  display: block;
  margin-top: 1px;
  /*margin-right: 6px;
  margin-bottom: 6px;
  margin-left: 6px;*/
}


header p {
  color: white;
  font-size: 0.8rem;
}


header h5 {
  color: white;
  font-size: 0.75rem;
  /*margin-top: -23px;*/
}

header h5 a {
  color: white;
  text-decoration: none;
}


#header {
  background-color: $header;
  font-family: open-sans;
  font-style: normal;
  font-weight: 300;
      
}


#logo {
  height: 105px;
  width: auto;
  float: left;
  /*padding-right: 10px*/;
  padding-top:6px;
}


#headerRight {
  float: right;
  padding-top: 6px;
  text-align: right;
  padding-right:6px;
}

/*----- SOCIAL -----*/

header ul.social {
  margin-bottom: -2.5em;
  list-style-type: none;
}


header ul.social li {
  float: left;
}


header ul.social li a {
  padding: 4px 2.6px;
}

/*----- SEARCH -----*/

header form.searchForm {
  position: absolute;
  z-index: 999;
  top: 6px;
  right: 2%;
}


header form.searchForm input {
  border: solid 1px #494948;
  border-radius: 12px;
  padding: 5px 10px;
  width: 145px;
  box-shadow: 2px 2px 3px #ccc inset;
  background-color: #F7F2E9;
}


.search:focus {
  background-color: #FCC264;
  outline: none;
}


div.search-results b {
  background-color: rgba(255, 132, 0, 0.5);
}


div.search-results h2 a {
  color: #3B4044;
  text-decoration: none;
  font-weight: 300;
}

#menu {
}
p:first-child {
   margin-top: 50px;
}
#content {
background-color: #F7F2E9;
padding:0.5em;
/*margin-top: 270px;   */ 
}
#article {
clear: both;
margin-left: 0;
width: 100%;
margin-bottom: 30px;
padding-top: 4%;
padding-right: 4%;
}
#sidebar {
display: none;
width: 100%;
clear: both;
margin-left: 0;
}

#bookmark {
display: none;
}

#footer {
    clear: both;
	font-size: .7em;
	color:$footer_font;
	text-align: center;
	padding: .6em;
	background-color:$footer_background;
    position:fixed;
    width:100%;
    bottom:0;
    left:0;
}
.zeroMargin_mobile {
margin-left: 0;
}
.hide_mobile {
display: none;
}

#hiddenPanel {position:fixed; 
top:120px; 
right:-200px; 
width:200px; 
background-color:$footer_background; 
height:150px;
}

#close-bar { position:absolute; 
left:-20px; 
top:0px; 
background:red; 
color:white; 
width:20px; 
height:150px; 
cursor: pointer; 
display:block;
border-top-left-radius: 4em 3em; 
border-bottom-left-radius: 4em 3em;}

.vertical-text{
display: block;
position: absolute;
right: -20px;
top: 15px;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
float:left;
margin: 50px -9px;
}

#bookmark-phone{

margin-left:25px;
}

#bookmark-phone p{
margin: 10px;
line-height: 0.8;
font-size: 1em;
color: white;}

.phone-header{
	display: block;
font-family: open-sans;
font-size: 2em;
position: absolute;
float: right;
top: 10.4%;
margin-left: 20%;
	}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.phone-header{
	display:none;}

#close-bar {
        display:none;
    }

#header_strip {
	padding:.4em;
	display:block;
}

#header{
	margin-top:40px;
	}

#headerWrapper{
        position:fixed;
		width:100%;
    top:0;
    left:0;
	
    }

p:first-child {
   margin-top: 0px;
}

#content{
        margin-top:0px;
    }


.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}

#header_strip {
}
header {padding-top: 2em ;
display:block;
}
#headerRight {text-align: right;
 float: right;
 position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-right:8%;
}


header a.tel {
	font-size: 1.28em;
	padding-right: .4em;
	}
header form.searchForm {position:static; padding-top: 5px;
}	
header hgroup {
float: left;
position: relative;
  top: 12%;
  -webkit-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);
  padding-left:8%;
  }
#logo {
	height: 105px;
	width: auto;
	float: left;
	/*padding-right: 10px;*/
	padding-top: 0px;
	/*margin-top: 35px;*/
	margin-right: 6px;
}
header h2 {
	font-size: .8em;
	font-weight: 300;
	color: #E6E1D8;
	
	}

#content {
	margin-top: 230px;
	position: relative;
z-index: -1;
}
#article {
clear: both;
margin-left: 0;
width: 61.5384%;
margin-bottom: 5px;
padding-top:0px;
} 
#sidebar {
width: 35.8974%;
display: block;
/*margin-left: 2.5641%;*/
clear: none;
position: fixed;
right: 0px;
margin: 2px 15px;
}

#bookmark {
position: fixed;
right: 0;
top: 65%;
width: 13.0em;
margin: -2.5em 0 0 0;
z-index: 5;
background: hsla(34, 90%, 52%, 0.7);
color: black;
font-weight: bold;
text-align: left;
/* border: solid hsla(80, 90%, 40%, 0.5); */
border-right: none;
padding: 0.5em 0.5em 0.5em 2.0em;
box-shadow: 0 1px 3px black;
border-radius: 3em 0.5em 0.5em 3em;
font-size: 0.968rem;
display: block;
}
 
.hide_tablet {
display: none;
}
.zeroMargin_tablet {
margin-left: 0;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

header hgroup {
	top:15% !important;
}

.gridContainer {
	width: 88.5%;
	max-width: 1232px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}

#header_strip {
}
#header {
	
	margin: 0 auto;
}

#article {
margin-left: 0;
clear: both;
width: 66.1016%;
}
#sidebar {
width: 32.2033%;
display: block;
clear: none;
margin-left: 1.6949%;
}
#footer {
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}
}