@font-face {
	font-family: 'icomoon';
	src:url('_/fonts/icomoon.eot?-9hqo51');
	src:url('_/fonts/icomoon.eot?#iefix-9hqo51') format('embedded-opentype'),
		url('_/fonts/icomoon.woff?-9hqo51') format('woff'),
		url('_/fonts/icomoon.ttf?-9hqo51') format('truetype'),
		url('_/fonts/icomoon.svg?-9hqo51#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-tab_logo:before {
	content: "\e604";
}
.icon-raja1:before {
	content: "\e607";
	color: #A85003;
}
.icon-raja_head:before {
	content: "\e602";
	color: #A85003;
	font-size:3em;
	text-shadow: 3px 2px #A39F9F;
}
.icon-facebook:before {
	content: "\e600";
	color: #3B5998 ;
}
.icon-instagram:before {
	content: "\e605";
	color: #517fa4;
}
.icon-twitter:before {
	content: "\e606";
	color: #00aced;
}
.icon-blogger:before {
	content: "\e601";
}
.icon-linkedin:before {
	content: "\e603";
	color: #007bb6;
}
