/* Flexnav Base Styles */

$nav_text: #222;
$top_level: #FF8400;
$second_level: #b2b2af;
$third_level: #bfbfbc;
$fourth_level: #cbcbc9;

$accent: #3a3261;
$link: #548fa7;
$font-family: "dejarip-1","dejarip-2", "Helvetica Neue", Arial, clean, sans-serif;


.flexnav {
	-webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  transition: none;
	-webkit-transform-style: preserve-3d; // stop webkit flicker
  overflow: hidden;
	margin: 0 auto;
	width: 100%;
  max-height: 0;
  position:fixed;
  &.opacity {
    opacity: 0;
  }
	
	&.flexnav-show {
		max-height: 2000px;
    opacity: 1;
		-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
	margin-top: 55px;
	z-index:5;
	}
	&.one-page {
		position: fixed;
		top: 50px;
		right: 5%;
		max-width: 200px;
	}
	
	li {
		font-size: 0.85rem;
		position: relative;
		overflow: hidden;
	}
	li a {
		position: relative;
		display: block;
		padding: .96em;
		z-index: 2;
		overflow: hidden;
		color: $nav_text;
		background: $top_level;
		border-bottom: 1px solid rgba(0,0,0,.15);
	}
    li a:hover{
    color: #ffffff;
    text-decoration: none;}
	li ul {
		width: 100%;   
		
		li {
			font-size: 0.85rem;
			position: relative;
			overflow: hidden;		
		}
	}
	li ul.flexnav-show {
    
		li {
			overflow: visible;
		}
	}	
	
	li ul li a {
		display: block;
		background: lighten($top_level,10%);
	}
	ul li ul li a {
		background: lighten($top_level,20%);
	}
	ul li ul li ul li a {
		background: lighten($top_level,30%);
	}
	.touch-button {
		position: absolute;
		z-index: 999;
		top: 0;
		right: 0;
		width: 33px; //width of menu arrow
		height: 43px; //height if menu arrow
		display: inline-block;
		background: #acaca1;
		background: rgba(0,0,0,.075);
		text-align: center;
		&:hover {
			cursor: pointer;
		}
		.navicon {
			position: relative;
			top: 1.4em;
			font-size: 12px;
			color: #667;
		}
	}
}
.menu-button {
	position: fixed;
	width:100%;
	top:0;
    left:0;
	display: block;
	padding: 1em;
	background: $top_level;
	color: $nav_text;
	cursor: pointer;
	border-bottom: 1px solid rgba(0,0,0,.2);
	z-index: 99;
	
	&.one-page {
		position: fixed;
		top: 0;
		right: 5%;
		padding-right: 45px;
	}
    
	
	.touch-button {
		background: transparent;
		position: absolute;
		z-index: 999;
		top: 0;
		right: 0;
		width: 50px;
		height: 50px;
		display: inline-block;
		text-align: center;
				
		.navicon {
			font-size: 16px;
			position: relative;
			top: 1em;
			color: #666;
		}
	}
}

@media all and (min-device-width: 481px) {
  .flexnav-show {
   margin-top: 0px !important;
    }
  } 

@media all and (min-width: 800px) {
	body.one-page {
		padding-top: 70px;
	}
	.flexnav {
		overflow: visible;
		&.opacity {
		  opacity: 1;
		}
		
		
		&.one-page {
			top: 0;
			right: auto;
			max-width: 1080px;
		}
        //top level
		li {
			position: relative;
			list-style: none;
			float: left;
			display: block;	
			background-color: $top_level;
			overflow: visible;
     width: 14.28571428571429%; // 7 menu items divided by 100
		}
		li a {
			border-left: 1px solid #acaca1;
			border-bottom: none;
		}
		li > ul {
			position: absolute; 
			top: auto;
			left: 0;
			
			li {
				width: 100%;
			}
		}
		li ul li > ul {
			margin-left: 100%;
			top: 0;
		}
		li ul li:hover > ul,
		li ul li > ul.flexnav-show {
		}		
		li ul li a {
			border-bottom: none;
		}
		li ul.open {
			display: block;
			opacity: 1;
			visibility: visible;
			z-index: 1;
			li {
				overflow: visible;
				max-height: 100px;
			}	
			ul.open {
				margin-left: 100%;
				top: 0;
			}
		}
	}
	.menu-button {
		display: none;
	}
}

.oldie {
	body.one-page {
		padding-top: 70px;
	}
	.flexnav {
		overflow: visible;
		&.one-page {
			top: 0;
			right: auto;
			max-width: 1080px;
		}
		li {
			position: relative;
			list-style: none;
			float: left;
			display: block;	
			background-color: #a6a6a2;	
      width: 20%;
			min-height: 50px;
			overflow: visible;
		}
		li:hover > ul { 
			display: block;
			width: 100%;
			overflow: visible;
			li {
				width: 100%;
				float: none;
			}
		}
		li a {
			border-left: 1px solid #acaca1;
			border-bottom: none;
			overflow: visible;	
		}
		li > ul {
			background:#acaca1;
			position: absolute; 
			top: auto;
			left: 0;
			display: none;
			z-index: 1;
			overflow: visible;
		}
		li ul li ul { 
			top: 0;		
		}
		li ul li a {
			border-bottom: none;
		}
		li ul.open {
			display: block;
			width: 100%;
			overflow: visible;
			li {
				width: 100%;
			}
			ul.open {
				margin-left: 100%;
				top: 0;
  				display: block;
				width: 100%;
				overflow: visible;
			}
		}
		ul li:hover ul {
			margin-left: 100%;
			top: 0;
		}
	}
	.menu-button {
		display: none;
	}
	&.ie7 .flexnav li {
		width: 19.9%;
	}
}

/* Globals */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font: inherit;
	vertical-align: baseline;
  margin: 0;
  padding: 0;
}
body {
	background: #eaebe7;
	color: #333;
	font-family: $font-family;
	
}
::selection {
	color: #fff;
	background: $accent;
}
a {
	text-decoration: none;
	color: $link;
}
a:hover {
	text-decoration: underline;
}
p {
	font-size: 1em;
	margin-bottom: 1em; 
	line-height: 1.5;
	font-weight: 300;
}
strong {
  font-weight: 700;
}

.container {
	margin: -1px auto 0;
	max-width: 1080px;
	padding: 0 5%;
}

@media all and (min-width: 800px) {
	body {
		font-size: 100%;
		
		&.home-page {
			#site-header {
				
				min-height: 196px;
			}
		
		}
		
	}
}

.oldie {
	body {
		font-size: 100%;
		
		&.home-page {
			#site-header {
				
			}
		
		}

	}
	#content {
		article:first-child {
			width: 56%;
			margin-right: 10%;			
		}

		
	}
}

