$lightgray      : #819090;
$gray           : #708284;
$mediumgray     : #536870;
$darkgray       : #475B62;
$darkblue       : #0A2933;
$darkerblue     : #042029;
$paleryellow    : #FCF4DC;
$paleyellow     : #EAE3CB;
$yellow         : #A57706;
$orange         : #BD3613;
$red            : #D11C24;
$pink           : #C61C6F;
$purple         : #595AB7;
$blue           : #2176C7;
$cyan           : #259286;
$green          : #738A05;
$header_strip   : #FF8400;
/*$header         : #3B4044;*/
$header         : #0C7874;
$body_backgorund: #E6E1D8;
$body_font      : #494948;
$footer_background:#979791;
$footer_font    : #fff;

$information-tablet: "only screen and (max-width : 481px)";
$information-desktop: "only screen and (max-width : 769px)";


$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;

$default-border-radius : 10px;