/* Flexnav Base Styles */
/* line 14, menu.scss */
.flexnav {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transform-style: preserve-3d;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-height: 0;
}
/* line 25, menu.scss */
.flexnav.opacity {
  opacity: 0;
}
/* line 29, menu.scss */
.flexnav.flexnav-show {
  max-height: 2000px;
  opacity: 1;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
/* line 37, menu.scss */
.flexnav.one-page {
  position: fixed;
  top: 50px;
  right: 5%;
  max-width: 200px;
}
/* line 44, menu.scss */
.flexnav li {
  font-size: 0.85rem;
  position: relative;
  overflow: hidden;
}
/* line 49, menu.scss */
.flexnav li a {
  position: relative;
  display: block;
  padding: .96em;
  z-index: 2;
  overflow: hidden;
  color: #222222;
  background: #ff8400;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
/* line 59, menu.scss */
.flexnav li a:hover {
  color: #ffffff;
  text-decoration: none;
}
/* line 62, menu.scss */
.flexnav li ul {
  width: 100%;
}
/* line 65, menu.scss */
.flexnav li ul li {
  font-size: 0.85rem;
  position: relative;
  overflow: hidden;
}
/* line 73, menu.scss */
.flexnav li ul.flexnav-show li {
  overflow: visible;
}
/* line 78, menu.scss */
.flexnav li ul li a {
  display: block;
  background: #ff9d33;
}
/* line 82, menu.scss */
.flexnav ul li ul li a {
  background: #ffb566;
}
/* line 85, menu.scss */
.flexnav ul li ul li ul li a {
  background: #ffce99;
}
/* line 88, menu.scss */
.flexnav .touch-button {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  width: 33px;
  height: 43px;
  display: inline-block;
  background: #acaca1;
  background: rgba(0, 0, 0, 0.075);
  text-align: center;
}
/* line 99, menu.scss */
.flexnav .touch-button:hover {
  cursor: pointer;
}
/* line 102, menu.scss */
.flexnav .touch-button .navicon {
  position: relative;
  top: 1.4em;
  font-size: 12px;
  color: #667;
}

/* line 110, menu.scss */
.menu-button {
  position: relative;
  display: block;
  padding: 1em;
  background: #ff8400;
  color: #222222;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 119, menu.scss */
.menu-button.one-page {
  position: fixed;
  top: 0;
  right: 5%;
  padding-right: 45px;
}
/* line 127, menu.scss */
.menu-button .touch-button {
  background: transparent;
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
}
/* line 138, menu.scss */
.menu-button .touch-button .navicon {
  font-size: 16px;
  position: relative;
  top: 1em;
  color: #666;
}

@media all and (min-width: 800px) {
  /* line 148, menu.scss */
  body.one-page {
    padding-top: 70px;
  }

  /* line 151, menu.scss */
  .flexnav {
    overflow: visible;
  }
  /* line 153, menu.scss */
  .flexnav.opacity {
    opacity: 1;
  }
  /* line 156, menu.scss */
  .flexnav.one-page {
    top: 0;
    right: auto;
    max-width: 1080px;
  }
  /* line 162, menu.scss */
  .flexnav li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    background-color: #ff8400;
    overflow: visible;
    width: 14.28571428571429%;
  }
  /* line 171, menu.scss */
  .flexnav li a {
    border-left: 1px solid #acaca1;
    border-bottom: none;
  }
  /* line 175, menu.scss */
  .flexnav li > ul {
    position: absolute;
    top: auto;
    left: 0;
  }
  /* line 180, menu.scss */
  .flexnav li > ul li {
    width: 100%;
  }
  /* line 184, menu.scss */
  .flexnav li ul li > ul {
    margin-left: 100%;
    top: 0;
  }
  /* line 191, menu.scss */
  .flexnav li ul li a {
    border-bottom: none;
  }
  /* line 194, menu.scss */
  .flexnav li ul.open {
    display: block;
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
  /* line 199, menu.scss */
  .flexnav li ul.open li {
    overflow: visible;
    max-height: 100px;
  }
  /* line 203, menu.scss */
  .flexnav li ul.open ul.open {
    margin-left: 100%;
    top: 0;
  }

  /* line 209, menu.scss */
  .menu-button {
    display: none;
  }
}
/* line 215, menu.scss */
.oldie body.one-page {
  padding-top: 70px;
}
/* line 218, menu.scss */
.oldie .flexnav {
  overflow: visible;
}
/* line 220, menu.scss */
.oldie .flexnav.one-page {
  top: 0;
  right: auto;
  max-width: 1080px;
}
/* line 225, menu.scss */
.oldie .flexnav li {
  position: relative;
  list-style: none;
  float: left;
  display: block;
  background-color: #a6a6a2;
  width: 20%;
  min-height: 50px;
  overflow: visible;
}
/* line 235, menu.scss */
.oldie .flexnav li:hover > ul {
  display: block;
  width: 100%;
  overflow: visible;
}
/* line 239, menu.scss */
.oldie .flexnav li:hover > ul li {
  width: 100%;
  float: none;
}
/* line 244, menu.scss */
.oldie .flexnav li a {
  border-left: 1px solid #acaca1;
  border-bottom: none;
  overflow: visible;
}
/* line 249, menu.scss */
.oldie .flexnav li > ul {
  background: #acaca1;
  position: absolute;
  top: auto;
  left: 0;
  display: none;
  z-index: 1;
  overflow: visible;
}
/* line 258, menu.scss */
.oldie .flexnav li ul li ul {
  top: 0;
}
/* line 261, menu.scss */
.oldie .flexnav li ul li a {
  border-bottom: none;
}
/* line 264, menu.scss */
.oldie .flexnav li ul.open {
  display: block;
  width: 100%;
  overflow: visible;
}
/* line 268, menu.scss */
.oldie .flexnav li ul.open li {
  width: 100%;
}
/* line 271, menu.scss */
.oldie .flexnav li ul.open ul.open {
  margin-left: 100%;
  top: 0;
  display: block;
  width: 100%;
  overflow: visible;
}
/* line 279, menu.scss */
.oldie .flexnav ul li:hover ul {
  margin-left: 100%;
  top: 0;
}
/* line 284, menu.scss */
.oldie .menu-button {
  display: none;
}
/* line 287, menu.scss */
.oldie.ie7 .flexnav li {
  width: 19.9%;
}

/* Globals */
/* line 293, menu.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

/* line 311, menu.scss */
body {
  background: #eaebe7;
  color: #333;
  font-family: "dejarip-1", "dejarip-2", "Helvetica Neue", Arial, clean, sans-serif;
}

/* line 317, menu.scss */
::selection {
  color: #fff;
  background: #3a3261;
}

/* line 321, menu.scss */
a {
  text-decoration: none;
  color: #548fa7;
}

/* line 325, menu.scss */
a:hover {
  text-decoration: underline;
}

/* line 328, menu.scss */
p {
  font-size: 1em;
  margin-bottom: 1em;
  line-height: 1.5;
  font-weight: 300;
}

/* line 334, menu.scss */
strong {
  font-weight: 700;
}

/* line 338, menu.scss */
.container {
  margin: -1px auto 0;
  max-width: 1080px;
  padding: 0 5%;
}

@media all and (min-width: 800px) {
  /* line 345, menu.scss */
  body {
    font-size: 100%;
  }
  /* line 349, menu.scss */
  body.home-page #site-header {
    min-height: 196px;
  }
}
/* line 360, menu.scss */
.oldie body {
  font-size: 100%;
}
/* line 372, menu.scss */
.oldie #content article:first-child {
  width: 56%;
  margin-right: 10%;
}
