/* line 5, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.1.0.alpha.0/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*$header         : #3B4044;*/
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
/* line 8, ../components/sass/_base.scss */
img, object, embed, video {
  max-width: 100%; }

/* IE 6 does not support max-width so default to width 100% */
/* line 13, ../components/sass/_base.scss */
.ie6 img {
  width: 100%; }

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/
/* line 32, ../components/sass/_base.scss */
.fluid {
  clear: both;
  margin-left: 0;
  width: 100%;
  float: left; }

/* line 39, ../components/sass/_base.scss */
.fluidList {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* Mobile Layout: 480px and below. */
/* line 48, ../components/sass/_base.scss */
.gridContainer {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /*width: 86.45%;*/
  padding-left: 0.275%;
  padding-right: 0.275%;
  clear: none;
  float: none; }

/*-----Prevents iPhone from resizing in landscape mode -----*/
/* line 59, ../components/sass/_base.scss */
html {
  -webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
/* line 62, ../components/sass/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*-----BODY -----*/
/* line 66, ../components/sass/_base.scss */
body {
  background-color: #E6E1D8;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #494948; }

/* line 74, ../components/sass/_base.scss */
#header_strip {
  background-color: #FF8400;
  /*width: 100%;
  height: 1.5em;
  padding:1.3em;*/
  display: none; }

/*-----HEADER -----*/
/* necessary to override the default blue link color applied by phones */
/* line 84, ../components/sass/_base.scss */
header a.tel {
  color: #e6e1d8 !important;
  padding-right: 2%;
  text-decoration: none; }

/* line 91, ../components/sass/_base.scss */
#headerWrapper {
  background-color: #0C7874;
  /*position:fixed;*/
  /*width:100%;
  top:0;
  left:0;*/ }

/* line 100, ../components/sass/_base.scss */
header {
  padding: 0.5em 1%;
  height: 170px;
  display: none; }

/* line 107, ../components/sass/_base.scss */
header h1 {
  font-size: 2.4em;
  color: #F7F2E9;
  /*font-family: open-sans;
  font-style: normal;
  font-weight: 300;*/ }

/* line 116, ../components/sass/_base.scss */
header h1 a {
  text-decoration: none;
  color: white; }

/* line 121, ../components/sass/_base.scss */
header h1 a:hover {
  text-decoration: none; }

/* line 125, ../components/sass/_base.scss */
header h2 {
  font-size: .8em;
  font-weight: 300;
  color: #E6E1D8; }

/* line 133, ../components/sass/_base.scss */
header h3, h4, h5, p a {
  color: white;
  text-decoration: none;
  display: block;
  margin-top: 1px;
  /*margin-right: 6px;
  margin-bottom: 6px;
  margin-left: 6px;*/ }

/* line 144, ../components/sass/_base.scss */
header p {
  color: white;
  font-size: 0.8rem; }

/* line 150, ../components/sass/_base.scss */
header h5 {
  color: white;
  font-size: 0.75rem;
  /*margin-top: -23px;*/ }

/* line 156, ../components/sass/_base.scss */
header h5 a {
  color: white;
  text-decoration: none; }

/* line 162, ../components/sass/_base.scss */
#header {
  background-color: #0C7874;
  font-family: open-sans;
  font-style: normal;
  font-weight: 300; }

/* line 171, ../components/sass/_base.scss */
#logo {
  height: 105px;
  width: auto;
  float: left;
  /*padding-right: 10px*/
  padding-top: 6px; }

/* line 180, ../components/sass/_base.scss */
#headerRight {
  float: right;
  padding-top: 6px;
  text-align: right;
  padding-right: 6px; }

/*----- SOCIAL -----*/
/* line 189, ../components/sass/_base.scss */
header ul.social {
  margin-bottom: -2.5em;
  list-style-type: none; }

/* line 195, ../components/sass/_base.scss */
header ul.social li {
  float: left; }

/* line 200, ../components/sass/_base.scss */
header ul.social li a {
  padding: 4px 2.6px; }

/*----- SEARCH -----*/
/* line 206, ../components/sass/_base.scss */
header form.searchForm {
  position: absolute;
  z-index: 999;
  top: 6px;
  right: 2%; }

/* line 214, ../components/sass/_base.scss */
header form.searchForm input {
  border: solid 1px #494948;
  border-radius: 12px;
  padding: 5px 10px;
  width: 145px;
  box-shadow: 2px 2px 3px #ccc inset;
  background-color: #F7F2E9; }

/* line 224, ../components/sass/_base.scss */
.search:focus {
  background-color: #FCC264;
  outline: none; }

/* line 230, ../components/sass/_base.scss */
div.search-results b {
  background-color: rgba(255, 132, 0, 0.5); }

/* line 235, ../components/sass/_base.scss */
div.search-results h2 a {
  color: #3B4044;
  text-decoration: none;
  font-weight: 300; }

/* line 243, ../components/sass/_base.scss */
p:first-child {
  margin-top: 50px; }

/* line 246, ../components/sass/_base.scss */
#content {
  background-color: #F7F2E9;
  padding: 0.5em;
  /*margin-top: 270px;   */ }

/* line 251, ../components/sass/_base.scss */
#article {
  clear: both;
  margin-left: 0;
  width: 100%;
  margin-bottom: 30px;
  padding-top: 4%;
  padding-right: 4%; }

/* line 259, ../components/sass/_base.scss */
#sidebar {
  display: none;
  width: 100%;
  clear: both;
  margin-left: 0; }

/* line 266, ../components/sass/_base.scss */
#bookmark {
  display: none; }

/* line 270, ../components/sass/_base.scss */
#footer {
  clear: both;
  font-size: .7em;
  color: #fff;
  text-align: center;
  padding: .6em;
  background-color: #979791;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0; }

/* line 282, ../components/sass/_base.scss */
.zeroMargin_mobile {
  margin-left: 0; }

/* line 285, ../components/sass/_base.scss */
.hide_mobile {
  display: none; }

/* line 289, ../components/sass/_base.scss */
#hiddenPanel {
  position: fixed;
  top: 120px;
  right: -200px;
  width: 200px;
  background-color: #979791;
  height: 150px; }

/* line 297, ../components/sass/_base.scss */
#close-bar {
  position: absolute;
  left: -20px;
  top: 0px;
  background: red;
  color: white;
  width: 20px;
  height: 150px;
  cursor: pointer;
  display: block;
  border-top-left-radius: 4em 3em;
  border-bottom-left-radius: 4em 3em; }

/* line 309, ../components/sass/_base.scss */
.vertical-text {
  display: block;
  position: absolute;
  right: -20px;
  top: 15px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  float: left;
  margin: 50px -9px; }

/* line 320, ../components/sass/_base.scss */
#bookmark-phone {
  margin-left: 25px; }

/* line 325, ../components/sass/_base.scss */
#bookmark-phone p {
  margin: 10px;
  line-height: 0.8;
  font-size: 1em;
  color: white; }

/* line 331, ../components/sass/_base.scss */
.phone-header {
  display: block;
  font-family: open-sans;
  font-size: 2em;
  position: absolute;
  float: right;
  top: 10.4%;
  margin-left: 20%; }

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 481px) {
  /* line 345, ../components/sass/_base.scss */
  .phone-header {
    display: none; }

  /* line 348, ../components/sass/_base.scss */
  #close-bar {
    display: none; }

  /* line 352, ../components/sass/_base.scss */
  #header_strip {
    padding: .4em;
    display: block; }

  /* line 357, ../components/sass/_base.scss */
  #header {
    margin-top: 40px; }

  /* line 361, ../components/sass/_base.scss */
  #headerWrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0; }

  /* line 369, ../components/sass/_base.scss */
  p:first-child {
    margin-top: 0px; }

  /* line 373, ../components/sass/_base.scss */
  #content {
    margin-top: 0px; }

  /* line 378, ../components/sass/_base.scss */
  .gridContainer {
    width: 90.675%;
    padding-left: 1.1625%;
    padding-right: 1.1625%;
    clear: none;
    float: none;
    margin-left: auto; }

  /* line 389, ../components/sass/_base.scss */
  header {
    padding-top: 2em;
    display: block; }

  /* line 392, ../components/sass/_base.scss */
  #headerRight {
    text-align: right;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-right: 8%; }

  /* line 403, ../components/sass/_base.scss */
  header a.tel {
    font-size: 1.28em;
    padding-right: .4em; }

  /* line 407, ../components/sass/_base.scss */
  header form.searchForm {
    position: static;
    padding-top: 5px; }

  /* line 409, ../components/sass/_base.scss */
  header hgroup {
    float: left;
    position: relative;
    top: 12%;
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
    padding-left: 8%; }

  /* line 418, ../components/sass/_base.scss */
  #logo {
    height: 105px;
    width: auto;
    float: left;
    /*padding-right: 10px;*/
    padding-top: 0px;
    /*margin-top: 35px;*/
    margin-right: 6px; }

  /* line 427, ../components/sass/_base.scss */
  header h2 {
    font-size: .8em;
    font-weight: 300;
    color: #E6E1D8; }

  /* line 434, ../components/sass/_base.scss */
  #content {
    margin-top: 230px;
    position: relative;
    z-index: -1; }

  /* line 439, ../components/sass/_base.scss */
  #article {
    clear: both;
    margin-left: 0;
    width: 61.5384%;
    margin-bottom: 5px;
    padding-top: 0px; }

  /* line 446, ../components/sass/_base.scss */
  #sidebar {
    width: 35.8974%;
    display: block;
    /*margin-left: 2.5641%;*/
    clear: none;
    position: fixed;
    right: 0px;
    margin: 2px 15px; }

  /* line 456, ../components/sass/_base.scss */
  #bookmark {
    position: fixed;
    right: 0;
    top: 65%;
    width: 13.0em;
    margin: -2.5em 0 0 0;
    z-index: 5;
    background: rgba(243, 147, 22, 0.7);
    color: black;
    font-weight: bold;
    text-align: left;
    /* border: solid hsla(80, 90%, 40%, 0.5); */
    border-right: none;
    padding: 0.5em 0.5em 0.5em 2.0em;
    box-shadow: 0 1px 3px black;
    border-radius: 3em 0.5em 0.5em 3em;
    font-size: 0.968rem;
    display: block; }

  /* line 476, ../components/sass/_base.scss */
  .hide_tablet {
    display: none; }

  /* line 479, ../components/sass/_base.scss */
  .zeroMargin_tablet {
    margin-left: 0; } }
/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 769px) {
  /* line 488, ../components/sass/_base.scss */
  header hgroup {
    top: 15% !important; }

  /* line 492, ../components/sass/_base.scss */
  .gridContainer {
    width: 88.5%;
    max-width: 1232px;
    padding-left: 0.75%;
    padding-right: 0.75%;
    margin: auto;
    clear: none;
    float: none;
    margin-left: auto; }

  /* line 505, ../components/sass/_base.scss */
  #header {
    margin: 0 auto; }

  /* line 510, ../components/sass/_base.scss */
  #article {
    margin-left: 0;
    clear: both;
    width: 66.1016%; }

  /* line 515, ../components/sass/_base.scss */
  #sidebar {
    width: 32.2033%;
    display: block;
    clear: none;
    margin-left: 1.6949%; }

  /* line 523, ../components/sass/_base.scss */
  .zeroMargin_desktop {
    margin-left: 0; }

  /* line 526, ../components/sass/_base.scss */
  .hide_desktop {
    display: none; } }
/* Flexnav Base Styles */
/* line 14, ../components/sass/_menu.scss */
.flexnav {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transform-style: preserve-3d;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-height: 0;
  position: fixed; }
  /* line 25, ../components/sass/_menu.scss */
  .flexnav.opacity {
    opacity: 0; }
  /* line 29, ../components/sass/_menu.scss */
  .flexnav.flexnav-show {
    max-height: 2000px;
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    margin-top: 55px;
    z-index: 5; }
  /* line 39, ../components/sass/_menu.scss */
  .flexnav.one-page {
    position: fixed;
    top: 50px;
    right: 5%;
    max-width: 200px; }
  /* line 46, ../components/sass/_menu.scss */
  .flexnav li {
    font-size: 0.85rem;
    position: relative;
    overflow: hidden; }
  /* line 51, ../components/sass/_menu.scss */
  .flexnav li a {
    position: relative;
    display: block;
    padding: .96em;
    z-index: 2;
    overflow: hidden;
    color: #222;
    background: #FF8400;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  /* line 61, ../components/sass/_menu.scss */
  .flexnav li a:hover {
    color: #ffffff;
    text-decoration: none; }
  /* line 64, ../components/sass/_menu.scss */
  .flexnav li ul {
    width: 100%; }
    /* line 67, ../components/sass/_menu.scss */
    .flexnav li ul li {
      font-size: 0.85rem;
      position: relative;
      overflow: hidden; }
  /* line 75, ../components/sass/_menu.scss */
  .flexnav li ul.flexnav-show li {
    overflow: visible; }
  /* line 80, ../components/sass/_menu.scss */
  .flexnav li ul li a {
    display: block;
    background: #ff9d33; }
  /* line 84, ../components/sass/_menu.scss */
  .flexnav ul li ul li a {
    background: #ffb566; }
  /* line 87, ../components/sass/_menu.scss */
  .flexnav ul li ul li ul li a {
    background: #ffce99; }
  /* line 90, ../components/sass/_menu.scss */
  .flexnav .touch-button {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 33px;
    height: 43px;
    display: inline-block;
    background: #acaca1;
    background: rgba(0, 0, 0, 0.075);
    text-align: center; }
    /* line 101, ../components/sass/_menu.scss */
    .flexnav .touch-button:hover {
      cursor: pointer; }
    /* line 104, ../components/sass/_menu.scss */
    .flexnav .touch-button .navicon {
      position: relative;
      top: 1.4em;
      font-size: 12px;
      color: #667; }

/* line 112, ../components/sass/_menu.scss */
.menu-button {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  padding: 1em;
  background: #FF8400;
  color: #222;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 99; }
  /* line 125, ../components/sass/_menu.scss */
  .menu-button.one-page {
    position: fixed;
    top: 0;
    right: 5%;
    padding-right: 45px; }
  /* line 133, ../components/sass/_menu.scss */
  .menu-button .touch-button {
    background: transparent;
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center; }
    /* line 144, ../components/sass/_menu.scss */
    .menu-button .touch-button .navicon {
      font-size: 16px;
      position: relative;
      top: 1em;
      color: #666; }

@media all and (min-device-width: 481px) {
  /* line 154, ../components/sass/_menu.scss */
  .flexnav-show {
    margin-top: 0px !important; } }
@media all and (min-width: 800px) {
  /* line 160, ../components/sass/_menu.scss */
  body.one-page {
    padding-top: 70px; }

  /* line 163, ../components/sass/_menu.scss */
  .flexnav {
    overflow: visible; }
    /* line 165, ../components/sass/_menu.scss */
    .flexnav.opacity {
      opacity: 1; }
    /* line 170, ../components/sass/_menu.scss */
    .flexnav.one-page {
      top: 0;
      right: auto;
      max-width: 1080px; }
    /* line 176, ../components/sass/_menu.scss */
    .flexnav li {
      position: relative;
      list-style: none;
      float: left;
      display: block;
      background-color: #FF8400;
      overflow: visible;
      width: 14.28571428571429%; }
    /* line 185, ../components/sass/_menu.scss */
    .flexnav li a {
      border-left: 1px solid #acaca1;
      border-bottom: none; }
    /* line 189, ../components/sass/_menu.scss */
    .flexnav li > ul {
      position: absolute;
      top: auto;
      left: 0; }
      /* line 194, ../components/sass/_menu.scss */
      .flexnav li > ul li {
        width: 100%; }
    /* line 198, ../components/sass/_menu.scss */
    .flexnav li ul li > ul {
      margin-left: 100%;
      top: 0; }
    /* line 205, ../components/sass/_menu.scss */
    .flexnav li ul li a {
      border-bottom: none; }
    /* line 208, ../components/sass/_menu.scss */
    .flexnav li ul.open {
      display: block;
      opacity: 1;
      visibility: visible;
      z-index: 1; }
      /* line 213, ../components/sass/_menu.scss */
      .flexnav li ul.open li {
        overflow: visible;
        max-height: 100px; }
      /* line 217, ../components/sass/_menu.scss */
      .flexnav li ul.open ul.open {
        margin-left: 100%;
        top: 0; }

  /* line 223, ../components/sass/_menu.scss */
  .menu-button {
    display: none; } }
/* line 229, ../components/sass/_menu.scss */
.oldie body.one-page {
  padding-top: 70px; }
/* line 232, ../components/sass/_menu.scss */
.oldie .flexnav {
  overflow: visible; }
  /* line 234, ../components/sass/_menu.scss */
  .oldie .flexnav.one-page {
    top: 0;
    right: auto;
    max-width: 1080px; }
  /* line 239, ../components/sass/_menu.scss */
  .oldie .flexnav li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    background-color: #a6a6a2;
    width: 20%;
    min-height: 50px;
    overflow: visible; }
  /* line 249, ../components/sass/_menu.scss */
  .oldie .flexnav li:hover > ul {
    display: block;
    width: 100%;
    overflow: visible; }
    /* line 253, ../components/sass/_menu.scss */
    .oldie .flexnav li:hover > ul li {
      width: 100%;
      float: none; }
  /* line 258, ../components/sass/_menu.scss */
  .oldie .flexnav li a {
    border-left: 1px solid #acaca1;
    border-bottom: none;
    overflow: visible; }
  /* line 263, ../components/sass/_menu.scss */
  .oldie .flexnav li > ul {
    background: #acaca1;
    position: absolute;
    top: auto;
    left: 0;
    display: none;
    z-index: 1;
    overflow: visible; }
  /* line 272, ../components/sass/_menu.scss */
  .oldie .flexnav li ul li ul {
    top: 0; }
  /* line 275, ../components/sass/_menu.scss */
  .oldie .flexnav li ul li a {
    border-bottom: none; }
  /* line 278, ../components/sass/_menu.scss */
  .oldie .flexnav li ul.open {
    display: block;
    width: 100%;
    overflow: visible; }
    /* line 282, ../components/sass/_menu.scss */
    .oldie .flexnav li ul.open li {
      width: 100%; }
    /* line 285, ../components/sass/_menu.scss */
    .oldie .flexnav li ul.open ul.open {
      margin-left: 100%;
      top: 0;
      display: block;
      width: 100%;
      overflow: visible; }
  /* line 293, ../components/sass/_menu.scss */
  .oldie .flexnav ul li:hover ul {
    margin-left: 100%;
    top: 0; }
/* line 298, ../components/sass/_menu.scss */
.oldie .menu-button {
  display: none; }
/* line 301, ../components/sass/_menu.scss */
.oldie.ie7 .flexnav li {
  width: 19.9%; }

/* Globals */
/* line 307, ../components/sass/_menu.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

/* line 325, ../components/sass/_menu.scss */
body {
  background: #eaebe7;
  color: #333;
  font-family: "dejarip-1", "dejarip-2", "Helvetica Neue", Arial, clean, sans-serif; }

/* line 331, ../components/sass/_menu.scss */
::selection {
  color: #fff;
  background: #3a3261; }

/* line 335, ../components/sass/_menu.scss */
a {
  text-decoration: none;
  color: #548fa7; }

/* line 339, ../components/sass/_menu.scss */
a:hover {
  text-decoration: underline; }

/* line 342, ../components/sass/_menu.scss */
p {
  font-size: 1em;
  margin-bottom: 1em;
  line-height: 1.5;
  font-weight: 300; }

/* line 348, ../components/sass/_menu.scss */
strong {
  font-weight: 700; }

/* line 352, ../components/sass/_menu.scss */
.container {
  margin: -1px auto 0;
  max-width: 1080px;
  padding: 0 5%; }

@media all and (min-width: 800px) {
  /* line 359, ../components/sass/_menu.scss */
  body {
    font-size: 100%; }
    /* line 363, ../components/sass/_menu.scss */
    body.home-page #site-header {
      min-height: 196px; } }
/* line 374, ../components/sass/_menu.scss */
.oldie body {
  font-size: 100%; }
/* line 386, ../components/sass/_menu.scss */
.oldie #content article:first-child {
  width: 56%;
  margin-right: 10%; }

@font-face {
  font-family: 'icomoon';
  src: url("_/fonts/icomoon.eot?-9hqo51");
  src: url("_/fonts/icomoon.eot?#iefix-9hqo51") format("embedded-opentype"), url("_/fonts/icomoon.woff?-9hqo51") format("woff"), url("_/fonts/icomoon.ttf?-9hqo51") format("truetype"), url("_/fonts/icomoon.svg?-9hqo51#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 12, ../components/sass/_icofonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 26, ../components/sass/_icofonts.scss */
.icon-tab_logo:before {
  content: "\e604"; }

/* line 29, ../components/sass/_icofonts.scss */
.icon-raja1:before {
  content: "\e607";
  color: #A85003; }

/* line 33, ../components/sass/_icofonts.scss */
.icon-raja_head:before {
  content: "\e602";
  color: #A85003;
  font-size: 3em;
  text-shadow: 3px 2px #A39F9F; }

/* line 39, ../components/sass/_icofonts.scss */
.icon-facebook:before {
  content: "\e600";
  color: #3B5998; }

/* line 43, ../components/sass/_icofonts.scss */
.icon-instagram:before {
  content: "\e605";
  color: #517fa4; }

/* line 47, ../components/sass/_icofonts.scss */
.icon-twitter:before {
  content: "\e606";
  color: #00aced; }

/* line 51, ../components/sass/_icofonts.scss */
.icon-blogger:before {
  content: "\e601"; }

/* line 54, ../components/sass/_icofonts.scss */
.icon-linkedin:before {
  content: "\e603";
  color: #007bb6; }

/* @import "layout";
@import "modules";*/
